button {
    width: 115px;
    height: 29px;
    top: 51px;
    left: 1172px;
    font-family: inherit;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    background-color: rgb(14, 169, 221);
    background-size: auto;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

button: :hover {
    transform: scale(0.5);
}