imagem de fundo inicial {
  background-image: linear-gradient(10);
  width: 1440px;
  height: 860px;
  top: 120px;
}



h1{
 color: white;
 text-align: center;
 font-family: cursive;
 font-size: 80px;
}

h3 {
 color: white;
 text-align: center;
 font-size: 40px;

}

h4{
  color: darkseagreen;
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}



