:root {
  --verde: #096e25;
  --azulescuro: #1032de;
  --branco: #fff;
  --background-color: #78b364;
  --ciano: #4cc1d9;
  --preto: #1f1f1f;
  --amarelo: #e8c741;
  --azulclaro: #709ad1;
}

h1{
 color: var(--verde);
 text-align: center;
 font-family: "Playwrite HR", cursive;
 font-size: 50px;
}

h3 {
 color: var(--azulescuro);
 text-align: center;
 font-size: 30px;
}

h3 :hover {
  color:var(--azulclaro)
}

.english {
  color: var(--azulclaro);
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.english :hover {
  color-interpolation-filters: linearRGB;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: var(--ciano);
  padding-inline: 16px;
}

.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("img/menuhamburgerbutton.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cabeçalho {
  background-color: var(--azulescuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--background-color);
}

.lista-menu__titulo {
  color: var(--amarelo);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--verde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("img/imagem\ de\ fundo\ inicial.jpeg");
}

.main-information {
  width: 100%;
  height: 220%;
  background-color: var(--azulclaro);
}

.main-performance, .main-contributions, .main-education {
  width: 100%;
  height: 160vh;
  background-color: var(--azulclaro);
}

h5 {
  font-size: 30px;
  color: var(--preto);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 0.5em 2em;
}

.texto {
  color: var(--branco);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300px;
  padding: 0px 6px;
}

footer {
  width: 100%;
  font-size: 1vw;
  flex-shrink: 0;
  padding-top: 5px;
  text-align: center;
  color: var(--preto);
  background-color: var(--ciano);
}

.photo-center {
  display: flex;
  justify-content: center;
}

#placas-solares1 {
  height: 15%;
  width: 50%;
  padding: 0px 4px;
} 

#pessoa {
  height: 20%;
  width: 50%;
}

#placas-solares2 {
  height: 20%;
  width: 50%;
}

#economia {
  height: 20%;
  width: 50%;
}

.container__imagens {
  display: flex;
  justify-content: center;
  padding: 2em;
  margin: 2em 0.5em;
}

#quantidade-energia {
  height: 40%;
  width:40%
}

#evolução-energia {
  height: 20%;
  width: 40%;
}

@media screen and (min-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width:900px) {
  /*Estilos para celular*/
}

.rodapé {
height: 9%;
width: 100%;
font-size: 1vw;
flex-shrink: 0;
padding-top: 5px;
text-align: center;
color: var(--preto);
background-color: var(--ciano);
}

.titulo-contributions {
  margin: 0.5em 2em;
  font-size: 20px;
  color: var(--preto);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lista-contributions {
  color: var(--verde);
}

.item-contributions {
  text-align: center;
  color: var(--preto);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 0px 3px;
  margin-left: 10px;
}

.video { 
  width: 30%;
  height: 20%;
}

.video-center {
  display: flex;
  justify-content: center;
}

.container__button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 20px;
}

.back {
  width: 20%;
  height: 5%;
  background-color: var(--amarelo);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--preto);
  font-size: 14px;
}

.left {
  width: 20%;
  height: 5%;
  background-color: var(--amarelo);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--preto);
  font-size: 14px;
}

#usina {
  height: 20%;
  width: 30%;
}



