:root {
  --verde: #096e25;
  --azulescuro: #1032de;
  --branco: #fff;
  --background-color: #78b364;
  --ciano: #4cc1d9;
  --preto: #1f1f1f;
  --amarelo: #e8c741;
  --azulclaro: #709ad1;
}

h1{
 color: var(--verde);
 text-align: center;
 font-family: "Playwrite HR", cursive;
 font-size: 80px;
}

h3 {
 color: var(--azulescuro);
 text-align: center;
 font-size: 40px;

}

h4{
  color: var(--branco);
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

button {
  width: 50px;
  height: 24px;
  display: block;
  border: none;
  font-family: inherit;
  font-size: 12px;
  background-size: contain;
  background-color: var(--azulclaro);
  color: var(--preto);
}

button :hover {
  color: var(--azulescuro);
}

body {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: var(--ciano);
  padding-inline: 16px;
}

h5 {
  width: 10px;
  height: 24px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.cabeçalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("img/menuhamburger.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cabeçalho {
  background-color: var(--azulescuro);
  display: inline;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--background-color);
}

.lista-menu__titulo {
  color: var(--amarelo);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--verde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("img/imagem\ de\ fundo\ inicial.jpeg");
}

footer {
  width: 100%;
  font-size: 1vw;
  flex-shrink: 0;
  padding-top: 5px;
  text-align: center;
  color: var(--preto);
  background-color: var(--azulclaro);
}
