h1{
 color: green;
 text-align: center;
 font-family: cursive;
 font-size: 80px;
}

h3 {
 color: rgba(48, 128, 240, 0.781);
 text-align: center;
 font-size: 40px;

}

h4{
  color: whitesmoke ;
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

body {
  background-color: lightgreen;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background: url(img/imagem\ de\ fundo\ inicial.jpeg)no-repeat center center;
  background-size: cover;
  height: 92vh;
}
 
*{
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.menu .menu-fakestrigger {
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}


.menu .menu-lines {
  color: black;
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
}

.menu .menu-lines span {
  color: black;
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 3px;
  transition: all ease .2s;
}

.menu .menu-fakestrigger:checked ~ menu-lines span {
  /*background-color: #232323;*/
  background-color: black;
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(1) {
  color: blueviolet;
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(2) {
 opacity: 0;
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(3) {
  color: blueviolet;
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
}

a {
  color: white ;
  text-decoration: none;
}

a :hover {
  opacity: 0,7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: lightseagreen;
  height: 8vh;
}

main {
  background: url(img/imagem\ de\ fundo\ inicial.jpeg) no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list {
  letter-spacing: 3px;
  margin-left: 50px;
}

.mobile-menu div {
   width: 32px;
   height: 2px;
   background: rgb(1, 28, 56);
   margin: 8px;
   transition: 0.3s;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 999px) {
   body {
    overflow-x: hidden;
   }
   
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: lightseagreen;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    }
    
}

footer {
  width: 100%;
  font-size: 1vw;
  flex-shrink: 0;
  padding-top: 5px;
  text-align: center;
  color: black;
  background-color: lightseagreen;
}