h1{
 color: green;
 text-align: center;
 font-family: cursive;
 font-size: 80px;
}

h3 {
 color: white;
 text-align: center;
 font-size: 40px;

}

h4{
  color: whitesmoke ;
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

body {
  background-color: lightgreen;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white ;
  text-decoration: none;
}

a :hover {
  opacity: 0,7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: lightseagreen;
  height: 8vh;
}

main {
  background: url(img/imagem\ de\ fundo\ inicial.jpeg) no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list {
  letter-spacing: 3px;
  margin-left: 42px;
}

.mobile-menu div {
   width: 32px;
   height: 2px;
   background: rgb(1, 28, 56);
   margin: 8px;
   transition: 0.3s;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

@media (max-width: 999px) {
   body {
    overflow-x: hidden;
   }
   
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: lightseagreen;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }