:root {
  --verde: #096e25;
  --azulescuro: #1032de;
  --branco: #fff;
  --background-color: #78b364;
  --ciano: #4cc1d9;
  --preto: #1f1f1f;
  --fonte-maior: "cursive";
}

h1{
 color: var(--verde);
 text-align: center;
 font-family: var(--fonte-maior);
 font-size: 80px;
}

h3 {
 color: var(--azulescuro);
 text-align: center;
 font-size: 40px;

}

h4{
  color: var(--branco);
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

body {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: var(--ciano);
  padding-inline: 16px;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("img/imagem\ de\ fundo\ inicial.jpeg");
}

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--ciano);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

*{
  margin: 0%;
  padding: 0%;
  list-style: none;
}

footer {
  width: 100%;
  font-size: 1vw;
  flex-shrink: 0;
  padding-top: 5px;
  text-align: center;
  color: var(--preto);
  background-color: var(--ciano);
}
