h1{
 color: green;
 text-align: center;
 font-family: cursive;
 font-size: 80px;
}

h3 {
 color: goldenrod;
 text-align: center;
 font-size: 40px;

}

h4{
  color: whitesmoke ;
  text-align: center;
  font-family: inherit;
  font-size: 30px;
}

body {
  background-color: lightgreen;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background: url(img/imagem\ de\ fundo\ inicial.jpeg)no-repeat center center;
  background-size: cover;
  height: 92vh;
}
 
*{
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.menu .menu-fakestrigger {
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

.menu-lines {
  color: black;
}

.menu .menu-lines {
  color: red;
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
}

.menu .menu-lines span {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 3px;
  transition: all ease .2s;
}

.menu .menu-fakestrigger:checked ~ menu-lines span {
  /*background-color: #232323;*/
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(1) {
  color: blueviolet;
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(1.25);
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(2) {
 opacity: 0;
}

.menu .menu-fakestrigger:checked ~ .menu-lines span:nth-child(3) {
  color: blueviolet;
  transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(1.25);
}