body {
  background-color: lightgreen;
}

#imagem de fundo {
    height: max-content;
    width: max-content;
    padding-left: 0%;
    padding-right: 0%;
}


h1{
 color: white;
 text-align: center;
 font-size: 70px;
}

h3 {
 color: white;
 text-align: center;
 font-size: 40px;

}

h4{
  color: darkolivegreen;
  text-align: center;
  font-style: italic;
}